.App {
  text-align: center;
}

.itmo-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 120px;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > *{
  margin-left: 20px;
  margin-right: 20px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  height: 100%;
  width: 15%;
  max-width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(170, 161, 161, 0.97);
  transition: .5s ease;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-table {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.sidenav > *{
  margin-bottom: 20px;
}
